{
  "$schema": "https://opencode.ai/config.json",
  "theme": "catppuccin",
  "mcp": {
    "forgejo": {
      "type": "local",
      "enabled": true,
      "command": ["forgejo-mcp", "-t", "stdio", "--url", "YOU_FORGEJO_URL"],
      "environment": {
        "FORGEJO_ACCESS_TOKEN": "YOUR_FORGEJO_ACCESS_TOKEN"
      }
    },
    "sequential": {
      "type": "local",
      "enabled": true,
      "command": ["npx", "-y", "@modelcontextprotocol/server-sequential-thinking"]
    },
    "context7": {
      "type": "local",
      "enabled": true,
      "command": ["npx", "-y", "@upstash/context7-mcp"]
    },

    "playwright": {
      "type": "local",
      "enabled": true,
      "command": ["npx", "@playwright/mcp@latest", "--viewport-size=1920x1080"]
    },
    "shadcn": {
      "type": "local",
      "enabled": true,
      "command": ["npx", "shadcn@latest", "mcp"]
    },
    "prompt-kit": {
      "type": "local",
      "enabled": true,
      "command": ["npx", "-y", "shadcn@canary", "registry:mcp"],
      "environment": {
        "REGISTRY_URL": "https://www.prompt-kit.com/c/registry.json"
      }
    },
    "tavily": {
      "type": "local",
      "enabled": true,
      "command": ["npx", "-y", "tavily-mcp@latest"],
      "environment": {
        "TAVILY_API_KEY": "YOUR_TAVILY_API_KEY"
      }
    },
    "chrome-devtools": {
      "type": "local",
      "enabled": true,
      "command": ["npx", "-y", "chrome-devtools-mcp@latest"]
    },
    "desktop-commander": {
      "type": "local",
      "enabled": true,
      "command": ["npx", "-y", "@wonderwhy-er/desktop-commander@latest"]
    },
    "knowledge-graph": {
      "type": "local", 
      "enabled": true,
      "command": ["npx", "-y", "mcp-knowledge-graph"]
    },
    "memory-bank": {
      "type": "local",
      "enabled": true,
      "command": ["npx", "-y", "@allpepper/memory-bank-mcp"]
    }
  }
}
